@model HelpDeskTest.Models.Request

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RequestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeId)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.StatusId)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.EmployeId)
        </dd>

    </dl>
</div>
